{{page-title "Files"}}

{{notification-container position="top" zindex="9999"}}

<div class="page-header">
  <h1>Index of {{filepathdisplay}}</h1>
</div>
<hr>

<table style="margin-left: 30px;">
  <tr>
    <th style="padding: 5px 10px 5px 10px">Sl.No</th>
    <th style="padding: 5px 10px 5px 10px">File Name</th>
    <th style="padding: 5px 10px 5px 10px">Size</th>
    <th style="padding: 5px 10px 5px 10px">Last Modified</th>
  </tr>
  {{#if (isfilepath filepathtitle)}}
  <tr>
      <td style="padding: 5px 10px 5px 10px">0</td>
      {{!-- <td><button class="button-link" type="button" {{on 'click' (fn go_back filepathtitle)}}><img src="/assets/images/back-ios.png" style="width: 25px; height: auto; padding: 0px 5px 0px;"><strong>Parent Folder</strong></button></td> --}}
      <td><LinkTo @route = 'files' @model = "{{goback filepathtitle}}" class="btn-link" style="padding-left: 10px;"><img src="/assets/images/back-ios.png" style="width: 25px; height: auto; padding: 0px 5px 0px;"><strong>Parent Folder</strong></LinkTo></td>
  </tr>
  {{/if}}
  {{#each @model as |file|}}
        <tr id="{{file.id}}"> 
          <td style="padding: 5px 10px 5px 10px">{{file.id}}</td>
            {{#if file.isDir}}
                {{!-- @invokeAction = {{fn this.save_filepath file.filePath}} --}}
                <LinkTo @route = 'files' @model = "{{file.filePath}}" class="btn-link" style="padding-left: 10px;"><img src="/assets/images/folder-ios.png" style="width: 25px; height: auto; padding: 0px 5px 0px;"><strong>{{file.fname}}/</strong></LinkTo>
            {{else}}
              <td style="padding: 5px 10px 5px 10px" id="fname-{{file.fname}}"><img src="/assets/images/file-ios.png" style="width: 25px; height: auto; padding: 0px 5px 0px;"><a href="/downloadfiles?filename={{file.filePath}}"><strong>{{file.fname}}</strong></a></td>
            {{/if}}
            <td style="padding: 5px 10px 5px 10px">{{sizer file.size}}</td>
            <td style="padding: 5px 10px 5px 10px">{{file.lmod}}</td>
        </tr>
  {{/each}}
</table>
<br>

<h3>{{filepathdisplay}}</h3>

<hr>
      <form action="/uploadfiles" method="post" enctype="multipart/form-data">
        <label class="control-label col-sm-2"><strong>Select File :</strong></label><input type="file" name="file" multiple />
        <input type="hidden" name="relpath" value={{filepathtitle}}>
        <input id="uploadbutton" type="submit" value="Upload Files" class="btn btn-primary btn-sm"/>
      </form>


<br>
<br>

<div class="form-group">
  <label class="control-label col-sm-2"><strong>Folder Name :</strong></label>
  {{ input type = "text" id = "foldername" value = foldername name = "foldername" placeholder="Enter the Folder Name" class="form-control input-sm col-sm-4"}}
  {{ input type = "hidden" id = "relpath" value = (this.filepathtitle) name = "relpath"}}
  <br>
  <button type="submit" {{on 'click' (route-action 'create_folder') }} class="btn btn-primary btn-sm">Create Folder</button>
</div>

<hr>